<form [formGroup]="form" (keydown.enter)="$event.preventDefault()">
  <div class="col-md-12 box">
    <h4 class="mb-3" style="margin-top: 2%;">Cadastrar</h4>
    <div class="row g-3">
      <div class="col-12 col-md-4">
        <div class="form-group">
          <label for="nome" class="form-required label">
            <small [ngClass]="{'text-red': validateMessage.messageDisplay.nome}">Nome</small>
          </label>
          <input type="text" class="form-control form-control-custom" formControlName="nome"
            [ngClass]="setErrorValidate('nome')">
          <small class="form-text text-red" *ngIf="validateMessage.messageDisplay.nome"
            [innerHTML]="validateMessage.messageDisplay.nome"></small>
        </div>
      </div>
      <div class="col-12 col-md-4">
        <div class="form-group">
          <label for="sobreNome" class="form-required label">
            <small [ngClass]="{'text-red': validateMessage.messageDisplay.sobreNome}">Sobrenome</small>
          </label>
          <input type="text" class="form-control form-control-custom" formControlName="sobreNome"
            [ngClass]="setErrorValidate('sobreNome')">
          <small class="form-text text-red" *ngIf="validateMessage.messageDisplay.sobreNome"
            [innerHTML]="validateMessage.messageDisplay.sobreNome"></small>
        </div>
      </div>
      <div class="col-12 col-md-4">
        <div class="form-group">
          <label for="email" class="form-required label">
            <small [ngClass]="{'text-red': validateMessage.messageDisplay.email}">Email</small>
          </label>
          <input type="text" class="form-control form-control-custom" formControlName="email"
            placeholder="you@example.com" [ngClass]="setErrorValidate('email')">
          <small class="form-text text-red" *ngIf="validateMessage.messageDisplay.email"
            [innerHTML]="validateMessage.messageDisplay.email"></small>
        </div>
      </div>
    </div>
    <div class="row g-3">
      <div class="col-12 col-md-4">
        <div class="form-group">
          <label for="senha" class="form-required label">
            <small [ngClass]="{'text-red': validateMessage.messageDisplay.senha}">Senha</small>
          </label>
          <input type="password" class="form-control form-control-custom" formControlName="senha"
            [ngClass]="setErrorValidate('senha')">
          <small class="form-text text-red" *ngIf="validateMessage.messageDisplay.senha"
            [innerHTML]="validateMessage.messageDisplay.senha"></small>
        </div>
      </div>
      <div class="col-12 col-md-4">
        <div class="form-group">
          <label for="telefone" class="label">
            <small>Telefone</small>
          </label>
          <input type="text" class="form-control form-control-custom" formControlName="numTelefone"
            mask="(00) 0 0000-0000">
        </div>
      </div>
      <div class="col-12 col-md-4">
        <div class="form-group">
          <label for="telefone" class="label">
            <small>Genero</small>
          </label>
          <select type="text" class="form-control form-control-custom" formControlName="genero">
            <option value="MASCULINO">Masculino</option>
            <option value="FEMININO">Feminino</option>
            <option value="FEMININO">Outro</option>
          </select>
        </div>
      </div>
    </div>
    <div class="row g-3">
      <div class="col-12 col-md-4">
        <div class="form-group">
          <label for="cep" class="form-required label">
            <small [ngClass]="{'text-red': validateMessage.messageDisplay.cep}">CEP</small>
          </label>
          <input type="text" class="form-control form-control-custom" formControlName="cep" mask="00000-000"
            [ngClass]="setErrorValidate('cep')">
          <small class="form-text text-red" *ngIf="validateMessage.messageDisplay.cep"
            [innerHTML]="validateMessage.messageDisplay.cep"></small>
        </div>
      </div>
      <div class="col-12 col-md-4">
        <div class="form-group">
          <label for="estado" class="label">
            <small>Estado</small>
          </label>
          <input type="text" class="form-control form-control-custom" formControlName="estado">
        </div>
      </div>
      <div class="col-12 col-md-4">
        <div class="form-group">
          <label for="cidade" class="label">
            <small>Cidade</small>
          </label>
          <input type="text" class="form-control form-control-custom" formControlName="cidade">
        </div>
      </div>
    </div>
    <div class="row g-3">
      <div class="col-12 col-md-4">
        <div class="form-group">
          <label for="rua" class="label">
            <small>Rua</small>
          </label>
          <input type="text" class="form-control form-control-custom" formControlName="rua">
        </div>
      </div>
      <div class="col-12 col-md-2">
        <div class="form-group">
          <label for="numEndereco" class="label">
            <small>Número</small>
          </label>
          <input type="text" class="form-control form-control-custom" formControlName="numEndereco">
        </div>
      </div>
      <div class="col-12 col-md-3">
        <div class="form-group">
          <label for="bairro" class="label">
            <small>Bairro</small>
          </label>
          <input type="text" class="form-control form-control-custom" formControlName="bairro">
        </div>
      </div>
      <div class="col-12 col-md-3">
        <div class="form-group">
          <label for="complemento" class="label">
            <small>Complemento</small>
          </label>
          <input type="text" class="form-control form-control-custom" formControlName="complemento">
        </div>
      </div>
    </div>

    <button type="submit" (click)="criarUsuario()" [disabled]="!enableShipping()"
      class="w-100 btn btn-sm btn-primary button">Salvar</button>
  </div>
</form>