<form style="margin-bottom: 30%;"  class="was-validated row g-3">
  <div class="col-md-4">
    <label for="validationServer01" class="form-label">Título</label>
    <input type="text" class="form-control" id="validationServer01" name="category_name" placeholder="Categoria"  required [(ngModel)]="Category">
  </div>
  <div style="padding-top: 200px; padding-bottom: 20px;" class="col-12">
    <button (click)="AddCategory(Category)" class="btn btn-primary" type="submit">Adicionar categoria</button>
  </div>
</form>
