<body>
  <nav class="navbar navbar-light navbar-expand-md">
      <div class="container"><a class="navbar-brand" href="#">Brand</a><button data-bs-toggle="collapse"
              class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle
                  navigation</span><span class="navbar-toggler-icon"></span></button>
          <div class="collapse navbar-collapse" id="navcol-1">
              <ul class="navbar-nav">
                  <li class="nav-item"><a class="nav-link active" href="/">Products</a></li>
              </ul><a class="btn btn-primary ms-auto" role="button" href="/cart.html">See Cart</a>
          </div>
      </div>
  </nav>
  <div class="container">
      <h1 style="margin-bottom: 25px;margin-top: 40px;">Thank you for your purchase!</h1>
      <p>Taciti placerat nisl ligula primis. Inceptos neque pellentesque, congue gravida ultricies metus. Cubilia
          mauris non, cras diam ultricies habitant curabitur elit nec. Litora ullamcorper viverra, per potenti
          adipiscing risus quisque.</p>
  </div>
  <script src="assets/bootstrap/js/bootstrap.min.js"></script>
  <script src="assets/js/script.min.js"></script>
</body>
