<body class="text-center">
  <main class="form-signin w-100 m-auto">
    <div class="col-md-12 box">
      <form (submit)="login(loginForm)" #loginForm="ngForm"
        style="display: flex; flex-direction:column; align-items:center;">
        <img class="mb-4" src="http://localhost:8080/api/data/logo-ourclub.png" alt="" width="160" height="160">
        <h3 class="font">BEM-VINDO!</h3>

        <div class="col-12 col-md-12">
          <input type="email" class="form-control form" id="floatingInput" placeholder="e-mail" name="emailInput"
            required ngModel>
        </div>

        <div class="col-12 col-md-12">
          <input type="password" class="form-control form" id="floatingPassword" placeholder="senha"
            name="passwordInput" required ngModel>
        </div>

        <button class="w-100 btn btn-lg btn-primary button" type="submit">Entrar</button>

        <button routerLink="/cadastro" class="w-100 btn btn-lg btn-primary button">Criar conta</button>

        <p class="mt-5 mb-3 text-muted">&copy; 2017–2022</p>
      </form>
    </div>
  </main>
</body>