<ng-container>
  <div style="margin-bottom: 15%;" class="container">
    <div class="card-table">
      <div class="cart-product">
        <table class="table table-responsive">
          <thead>
            <tr>
              <th>Nome do produto</th>
              <th>Tamanho</th>
              <th>Preço</th>
              <th>Nome</th>
              <th>Número</th>
              <th>Quantidade</th>
              <th>Total</th>
            </tr>
          </thead>
          <tbody>
            <tr >
              <td>1</td>
              <td>2</td>
              <td>3}</td>
              <td>4</td>
              <td>5</td>
              <td>6</td>
              <td>7</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</ng-container>
