<!-- <div class="container" style="margin-bottom: 30px;">
  <nav class="navbar navbar-light navbar-expand-md">
    <div class="container-fluid"><button data-bs-toggle="collapse" class="navbar-toggler"
        data-bs-target="#navcol-2"><span class="visually-hidden">Toggle navigation</span><span
          class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse" id="navcol-2" style="display:flex">
        <ul class="navbar-nav" *ngFor="let catg of categoryList">
          <li class="nav-item"><a class="nav-link active"  routerLink="products/category/{{catg.id}}">{{catg.description}}</a></li>
          <li class="nav-item"><a class="nav-link active"  routerLink="products/category/{{catg.id}}">{{catg.description}}</a></li>

        </ul>
        </div>
      </div>
  </nav>
</div> -->
<a *ngIf="adm" style="background-color: #ffffcc" routerLink="products/add-product" class="list-group-item">
  Adicionar produto
</a>
<a *ngIf="adm" style="background-color: #ffffcc" routerLink="products/add-category" class="list-group-item">
  Adicionar Categoria
</a>
<a *ngIf="adm" style="background-color: #ffffcc" routerLink="products/add-subcategory" class="list-group-item">
  Adicionar SubCategoria
</a>
<div class="dropdown " *ngFor="let catg of categoryList, let i = index">
  <button class="dropbtn">{{catg.description}}</button>
  <div class="dropdown-content">
    <a href="products/category/{{subCatg.id}}" *ngFor="let subCatg of categoryList[i].subCategs,let j = index">{{subCatg.description}}</a>
  </div>
</div>

