<div *ngIf="Concluir"  class="container">
  <main>
    <div class="row g-5">
      <div class="col-md-5 col-lg-4 order-md-last">
        <h4 class="d-flex justify-content-between align-items-center mb-3">
          <span class="text-primary">Seu carrinho</span>
        </h4>
        <ul class="list-group mb-3">
          <li class="list-group-item d-flex justify-content-between lh-sm" *ngFor="let item of products">
            <div>
              <h6 class="my-0">{{item.title}}</h6>
            </div>
            <span class="text-muted">R$:{{item.value}}</span>
          <li class="list-group-item d-flex justify-content-between">
            <span>Total (BRL)</span>
            <strong>R$:{{grandTotal}},00</strong>
          </li>
        </ul>

        <form class="card p-2">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Cupom">
            <button  class="btn btn-secondary">Resgatar</button>
          </div>
        </form>
      </div>

      <div class="col-md-7 col-lg-8">
        <h4 class="mb-3">Endereço</h4>


          <div class="col-md-3">
            <label for="validationServer04" class="form-label">Enderecos: </label>
            <select (change)="changeAdress()" class="form-select" id="validationServer04"   required [(ngModel)]="enderecos">
              <option *ngFor="let adress of adressList" value={{adress.id}}>{{adress.street}}</option>
            </select>
          </div>

          <div class="row g-3">
            <div class="col-sm-6">
              <label for="firstName" class="form-label">Nome</label>
              <input type="text" class="form-control" id="firstName" placeholder="" required>
              <div class="invalid-feedback">
                Valid first name is required.
              </div>
            </div>

            <div class="col-sm-6">
              <label for="lastName" class="form-label">Sobrenome</label>
              <input type="text" class="form-control" id="lastName" placeholder=""  required>
              <div class="invalid-feedback">
                Valid last name is required.
              </div>
            </div>

            <div style="display: flex; flex-direction: column; margin-top: 5px;" class="col-md-5">
              <label for="country" class="form-label">Estado</label>
              <select style="border-radius:5px; height: 30px;" class="form-select is-invalid" id="validationServer04" type="text"  name="estado" required [(ngModel)]="estado">
                <option value="AC">Acre</option>
                <option value="AL">Alagoas</option>
                <option value="AP">Amapá</option>
                <option value="AM">Amazonas</option>
                <option value="BA">Bahia</option>
                <option value="CE">Ceará</option>
                <option value="DF">Distrito Federal</option>
                <option value="ES">Espírito Santo</option>
                <option value="GO">Goiás</option>
                <option value="MA">Maranhão</option>
                <option value="MT">Mato Grosso</option>
                <option value="MS">Mato Grosso do Sul</option>
                <option value="MG">Minas Gerais</option>
                <option value="PA">Pará</option>
                <option value="PB">Paraíba</option>
                <option value="PR">Paraná</option>
                <option value="PE">Pernambuco</option>
                <option value="PI">Piauí</option>
                <option value="RJ">Rio de Janeiro</option>
                <option value="RN">Rio Grande do Norte</option>
                <option value="RS">Rio Grande do Sul</option>
                <option value="RO">Rondônia</option>
                <option value="RR">Roraima</option>
                <option value="SC">Santa Catarina</option>
                <option value="SP">São Paulo</option>
                <option value="SE">Sergipe</option>
                <option value="TO">Tocantins</option>
                </select>
            </div>

            <div class="col-md-4">
              <label for="cidade" class="form-label">Cidade</label>
              <input type="email" class="form-control" id="cidade"  required [(ngModel)]="cidade">
              <div class="invalid-feedback">
                Please provide a valid state.
              </div>
            </div>

            <div class="col-md-3">
              <label for="zip" class="form-label">CEP</label>
              <input type="text" class="form-control" id="zip" placeholder="" required [(ngModel)]="cep">
              <div class="invalid-feedback">
                Zip code required.
              </div>
            </div>

            <div class="col-12">
              <label for="rua" class="form-label">Rua</label>
              <input type="text" class="form-control" id="rua" required [(ngModel)]="rua">
              <div class="invalid-feedback">
                Please enter your shipping address.
              </div>
            </div>
            <div class="col-12">
              <label for="bairro" class="form-label">Bairro</label>
              <input type="text" class="form-control" id="bairro" required [(ngModel)]="bairro">
              <div class="invalid-feedback">
                Please enter your shipping address.
              </div>
            </div>
            <div class="col-12">
              <label for="numero" class="form-label">Número</label>
              <input type="text" class="form-control" id="numero" required [(ngModel)]="numero">
              <div class="invalid-feedback">
                Please enter your shipping address.
              </div>
            </div>
            <div class="col-12">
              <label for="complemento" class="form-label">Complemento</label>
              <input type="text" class="form-control" id="complemento" required [(ngModel)]="complemento">
              <div class="invalid-feedback">
                Please enter your shipping address.
              </div>
            </div>
          </div>

          <hr class="my-4">
          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="save-info" [(ngModel)]="check">
            <label class="form-check-label" for="save-info">Salve as informações para o proximo pedido</label>
          </div>

          <hr class="my-4">

          <h4 class="mb-3">Pagamento</h4>

          <div class="my-3">
            <div class="form-check">
              <input id="credit" name="paymentMethod" type="radio" class="form-check-input"  required value="credit" [(ngModel)]="credito">
              <label class="form-check-label" for="credit">Cartão de credito</label>
            </div>
            <div class="form-check">
              <input id="debit" name="paymentMethod" type="radio" class="form-check-input"  required value="debit" [(ngModel)]="debito">
              <label class="form-check-label" for="debit">Cartão de debito</label>
            </div>
            <div class="form-check">
              <input id="paypal" name="paymentMethod" type="radio" class="form-check-input" value="paypal" required [(ngModel)]="paypal">
              <label class="form-check-label" for="paypal">PayPal</label>
            </div>
          </div>

          <div class="row gy-3">
            <div class="col-md-6">
              <label for="cc-name" class="form-label">Nome no cartão</label>
              <input type="text" class="form-control" id="cc-name" placeholder="" required>
              <small class="text-muted">Full name as displayed on card</small>
              <div class="invalid-feedback">
                Name on card is required
              </div>
            </div>

            <div class="col-md-6">
              <label for="cc-number" class="form-label">Número no cartão</label>
              <input type="text" class="form-control" id="cc-number" placeholder="" required>
              <div class="invalid-feedback">
                Credit card number is required
              </div>
            </div>

            <div class="col-md-3">
              <label for="cc-expiration" class="form-label">Validade</label>
              <input type="text" class="form-control" id="cc-expiration" placeholder="" required>
              <div class="invalid-feedback">
                Expiration date required
              </div>
            </div>

            <div class="col-md-3">
              <label for="cc-cvv" class="form-label">CVV</label>
              <input type="text" class="form-control" id="cc-cvv" placeholder="" required>
              <div class="invalid-feedback">
                Security code required
              </div>
            </div>
          </div>

          <hr class="my-4">

          <button (click)="addAdress()"  (click)="addSale()" (click)="concluir()" style="margin-bottom: 5px;"  class="w-100 btn btn-primary btn-lg" >Finalizar pedido</button>

      </div>
    </div>
  </main>
</div>

<div *ngIf="Concluir == false" style="display: flex; align-items: center; margin-bottom: 60%; margin-top: 20%;">
  <h2>Pedido realizado com sucesso</h2>
</div>

