

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>

    <!-- ID Column -->
    <ng-container matColumnDef="codigo">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> codigo </th>
      <td mat-cell *matCellDef="let row"> {{row.code}} </td>
    </ng-container>

    <!-- Progress Column -->
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Descricao </th>
      <td mat-cell *matCellDef="let row"> {{row.description}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="value">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> valor</th>
      <td mat-cell *matCellDef="let row"> {{row.total}} </td>
    </ng-container>

    <!-- Fruit Column -->
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Pagamento </th>
      <td mat-cell *matCellDef="let row"> concluido </td>
    </ng-container>

    <ng-container matColumnDef="rastreio">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Rastreio </th>
      <td mat-cell  *matCellDef="let row"> {{row.delivery.tracking? row.delivery.tracking: 'Indisponivel'}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row (click)="openDialog(row)" *matRowDef="let row; columns: displayedColumns;"></tr>

    <!-- Row shown when there is no matching data. -->
  </table>
  <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5,10, 50, 100]"></mat-paginator>
</div>
