<!-- Product section-->
<section class="py-5">
  <div class="container px-4 px-lg-5 my-5">
      <div class="row gx-4 gx-lg-5 align-items-center">
          <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="{{productData.productImg}}" alt="..." /></div>
          <div class="col-md-6">
              <div class="small mb-1">SKU: BST-498</div>
              <h1 class="display-5 fw-bolder">{{productData.productName }}</h1>
              <div class="fs-5 mb-5">
                  <span class="text-decoration-line-through">R$:{{productData.price}}</span>
              </div>
              <p class="lead">{{productData.description}}</p>
              <div class="d-flex">
                  
                  <button (click)="addtocart(productData)" class="btn btn-outline-dark flex-shrink-0" type="button">
                      <i class="bi-cart-fill me-1"></i>
                      Adicionar ao Carrinho
                  </button>
              </div>
          </div>
      </div>
  </div>
</section>
<!-- Related items section-->
