<form [formGroup]="form" (keydown.enter)="$event.preventDefault()" class="row g-3">
  <div class="col-12 col-md-12">
    <h3 class="title">Adicionar SubCategoria</h3>
    <div class="row">
      <div class="col-12 col-md-6">
        <div class="form-group">
          <label for="categoria" class="form-required label">
            <small [ngClass]="{'text-red': validateMessage.messageDisplay.categoria}">Categoria</small>
          </label>
          <select class="form-control" formControlName="categoria" [ngClass]="setErrorValidate('categoria')">
            <option value="">Selecione</option>
            <option *ngFor="let categ of categoryList" [value]="categ.id">{{categ.description}}</option>
          </select>
          <small class="form-text text-red" *ngIf="validateMessage.messageDisplay.categoria"
            [innerHTML]="validateMessage.messageDisplay.categoria"></small>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="form-group">
          <label for="subCategoria" class="form-required label">
            <small [ngClass]="{'text-red': validateMessage.messageDisplay.subCategoria}">Subcategoria</small>
          </label>
          <input type="text" class="form-control" formControlName="subCategoria"
            [ngClass]="setErrorValidate('subCategoria')">
          <small class="form-text text-red" *ngIf="validateMessage.messageDisplay.subCategoria"
            [innerHTML]="validateMessage.messageDisplay.subCategoria"></small>
        </div>
      </div>
    </div>
    <button type="submit" (click)="criarSubCategoria()" [disabled]="!enableShipping()"
      class="btn btn-primary float-right buttonSave">Salvar</button>
  </div>
</form>