<form style="margin-bottom: 30%;"  class="was-validated row g-3">
  <div class="col-md-3">
    <label for="validationServer04" class="form-label">Categoria</label>
    <select class="form-select is-invalid" id="validationServer04"  name="product_category" required [(ngModel)]="categoryId">
      <option *ngFor="let categ of categoryList" value={{categ.id}}>{{categ.description}}</option>
    </select>
  </div>
  <div class="col-md-4">
    <label for="validationServer01" class="form-label">Título</label>
    <input type="text" class="form-control" id="validationServer01" name="category_name" placeholder="Categoria"  required [(ngModel)]="categoryDescription">
  </div>
  <div style="padding-top: 200px; padding-bottom: 20px;" class="col-12">
    <button routerLink="/products" (click)="AddSubCategory()" class="btn btn-primary">Adicionar categoria</button>
  </div>
</form>
